---
layout: post
---

{% assign current_time = site.time | date: "%s" | plus: 0 %}
{% assign home_post = nil %}
{% for post in site.posts %}
  {% assign post_time = post.date | date: "%s" | plus: 0 %}
  {% if home_post == nil and post_time <= current_time %}
    {% assign home_post = post %}
  {% endif %}
{% endfor %}

{{ home_post.content }}

<footer aria-label="Project resources">
  <a href="https://github.com/x-n2o/bloomwifi.github.io">GitHub</a> |
  <a href="https://docs.google.com/spreadsheets/d/13G1JKaLiD1rqrGp8rTGW5F14nfoBkfdbRpHar4J7_tk/edit?gid=1635679974#gid=1635679974">Google Sheet</a>
</footer>
